<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>VistaAutor</title>
</head>
<body>
	<main class="d-flex justify-content-between">
		<div class="caja">
			<div class="p-4 bg-dark text-light">
				<h2 class="text-center">Libros Favoritos de {{autor.nombre}}</h2>
				<table  class="table table-dark table-striped">
					<thead>
						<tr>
							<th >Titulo</th>
							<th># de páginas</th>
						</tr>
					</thead>
					<tbody>
						{% for libro in autor.favorito_libros %}
						<tr>
							<td>{{ libro.titulo }}</td>
							<td>{{ libro.num_paginas }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="caja">
			<form action="/join/libro" method="post" class="p-4 bg-dark text-light">
				<h2 class="p-4 bg-dark text-light">Agregar Autores Favoritos</h2>
				<input type="hidden" name="autor_id" value="{{autor.id}}">
				<div class="form-group">
					<label for="libro_id">Book:</label>
					<select name="libro_id" class="form-control" >
						{% for libro in unfavorited_libros %}
						<option value="{{libro.id}}">{{libro.titulo}}</option>
						{% endfor %}
					</select>
				</div>
				<input type="submit" value="Agregar Libro" class="btn btn-primary">
			</form>
		</div>
	</main>
	<footer class="text-start">
		<a href="/autores">Home</a>
	</footer>
</body>
</html>